@font-face {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  src: url("Prata.woff2") format("woff2");
}
@font-face {
  font-family: "Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("Serif-Display.woff2") format("woff2");
}
